{{ define "top-menu" }}
<nav role="navigation" class="flex-container top-menu go-right">
    {{ partial "top_menu.html" (dict "Page" . "show_back_menu_item" false) }}
</nav>
{{ end }}

{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<nav role="navigation">
    <ul>
        {{ range .Data.Pages }}
        <li>
            {{ if .Params.showDate }}
            {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --
            {{ end }}
            <a href="{{.RelPermalink}}">
                {{.Title | markdownify}}
            </a>
        </li>
        <div class="flex-container summary">
            {{ .Params.summary | safeHTML }}
        </div>
        {{ end }}
    </ul>
</nav>
{{ end }}
